/*give the body height:100% so that its child
    elements can have percentage heights*/
	
	
/*
#FFFFFF - White
#4CC4FF - Blue
#5AC73C - Green
#8A8A8A - Gray
#FFE022 - Yellow

*/
  body{ 
	
	height				: 100%;
  	font-family			: Arial Narrow; 
	font-size			: 12pt; 
	color				: #000000; 
	letter-spacing		: 2pt;
	
	background-color	: #FFFFFF;
	}
	
.input_button {

	font-family			: Arial Narrow; 
	font-size			: 12pt; 
	color				: #000000; 
	letter-spacing		: 3pt;
	
	background-color	: #FFE022;
	border				: 1px inset #4CC4FF; 
	
	align				: right;

}

.table_dashpanel {

	/* Nothing Defined */

}

.table_dashpanel_header_name {

	font-family			: Arial Narrow; 
	font-size			: 12pt; 
	color				: #000000; 
	letter-spacing		: 3pt;
	text-align			: left;
	
	background-color	: #8A8A8A;


}

.table_dashpanel_header_function {

	font-family			: Arial Narrow; 
	font-size			: 12pt; 
	color				: #000000; 
	letter-spacing		: 3pt;
	text-align			:right;
	
	background-color	: #8A8A8A;
	
}



.layout_dashpanel_container_header {margin:0; list-style:none; white-space:nowrap; text-align:left;  background:#000; 

background-color: #1E2023;

font-family:Helvetica,sans-serif;
font-size:14px;
color: #FFFFFF;


border:1px solid ;
border-style:solid;
border-color:#000000;
border-collapse:collapse;

opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */

}

.layout_dashpanel_container_header_right {margin:0; list-style:none; white-space:nowrap; text-align:right;  background:#000; 

background-color: #1E2023;

font-family:Helvetica,sans-serif;
font-size:14px;
color: #FFFFFF;

border:1px solid ;
border-style:solid;
border-color:#000000;
border-collapse:collapse;

opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */

}