.perp_dashpanel_container {
		font-size:		14px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		text-align:		left;
		letter-spacing:	2px;
		border: 		2px solid black;
		cursor:pointer;
		
	}
		
.table_dashpanel_container {
		width: 			270px;
		margin: 		10px;
		float: 			left;
		background-image:url('_cssimages/loginbackground.png');
		border: 		2px solid black;
	}
		
.dashpanel_container_table {
		text-align:		left;
		vertical-align:	text-top;
		width:			100%;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		
	}
	
.makebuttonlooklikeaheader {
		width:			100%;
		font-size:		11px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		background-color:transparent;
	}
	
.makebuttonlooklikelargetext {
		font-size:		14px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		text-align:		left;
		letter-spacing:	2px;
		
		cursor:			pointer;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		background-color:transparent;
	}	
	
.makebuttonlooklikelargetext_black {
		font-size:		14px;
		font-family:	Agency FB;
		color: 			#000000; 
		text-align:		left;
		letter-spacing:	2px;
		
		cursor:			pointer;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		background-color:transparent;
	}	
.table_dashpanel_container_noresults {
		width:			100%;
		font-size:		11px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		center;

	}
	
.table_dashpanel_container_summary {
		width:			100%;
		font-size:		10px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		left;

	}	
	
.table_dashpanel_container_summary_green {
		font-size:		12px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		left;
		background-color:#669933;
	}		

.table_dashpanel_container_summary_yellow {
		font-size:		12px;
		font-family:	Agency FB;
		color: 			#000000; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		left;
		background-color:#FFFF33;
	}	
	
.table_dashpanel_container_summary_red {
		font-size:		12px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		left;
		background-color:#FF0033;
	}	

.table_dashpanel_container_summary_blue {
		font-size:		12px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		18px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		left;
		background-color:#0000FF;
	}		
	
.table_dashpanel_container_footer {

		width:			100%;
		font-size:		5px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		5px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		left;
		
		background-image:url('_cssimages/loginfields.png');
	}

.table_dashpanel_container_commands {
		width:			100%;
		font-size:		11px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		letter-spacing:	2px;
		height: 		12px;
		border-collapse:collapse;
		border: 		0px solid black;
		padding:		0px;
		border-spacing: 0px;
		text-align:		right;
		
		background-image:url('_cssimages/loginfields.png');
	}
	
.table_dashpanel_divwindow {
		margin:			0px;
		border-collapse:collapse;
		border: 		0px solid black;
		text-align:		left;
		vertical-align:	text-top;
		
		font-size:		11px;
		font-family:	Agency FB;
		color: 			#FFFFFF; 
		
		background-image:url('_cssimages/loginfields.png');
	}