/*give the body height:100% so that its child
    elements can have percentage heights*/
	
  body{ 
	height:100%;
  	font-family: Impact, Charcoal, sans-serif; 
	font-size: 9pt; 
	color: #FFFFFF; 
	letter-spacing: 1pt;
	background-color: #000000;
	}

.table_shoulder{
	
	background-color		: #2350B5; /* Normal Shoulder Color */
	
	height					: 10px;
	width					: 50px;
	
	border					: 0px solid;
	border-right			: 23px solid;
	border-left				: 10px solid;
	border-top				: 2px solid;
	border-bottom			: 2px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;	
	}


	
.table_button_top_sweep{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 	
	color					: #97C3E0; 
	text-align				: right;
	vertical-align			: top;
	
	background-color		: #133D87; /* Normal Dark Color 1 */
	
	border-right			: 23px solid;
	border-left				: 10px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 10px;
	/*width					: 140px;*/

	}
	
.table_top_sweep{
	
	text-align				: right;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */
	
	padding					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 4px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 134px;

	}
	
.table_top_sweep_tail{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 	
	color					: #000000; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Normal Dark Color 1 */
	
	border-right			: 2px solid;
	border-left				: 0px solid;
	border-top				: 13px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 15px;
	width					: 80px;

	}

.table_top_buttons_timetaken{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #133D87; /* Normal Dark Color 1 */
	
	margin					: 0px;
	 
	border-right			: 2px solid;
	border-left				: 2px solid;
	border-top				: 2px solid;
	border-bottom			: 10px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 5px;
	width					: 80px;

	}
	
.table_top_buttons_dark1{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #133D87; /* Normal Dark Color 1 */
	
	margin					: 0px;
	 
	border-right			: 2px solid;
	border-left				: 2px solid;
	border-top				: 2px solid;
	border-bottom			: 10px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 5px;

	}

.table_top_buttons_light1{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 5pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #335DA7; /* Normal Light Color 1 */
	
	border-right			: 2px solid;
	border-left				: 2px solid;
	border-top				: 2px solid;
	border-bottom			: 10px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 5px;

	}	
	
.table_top_buttons_light2{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 5pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #4A72CA; /* Normal Light Color 2 */
	
	border-right			: 2px solid;
	border-left				: 2px solid;
	border-top				: 2px solid;
	border-bottom			: 10px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 5px;

	}

.table_top_buttons_endcap{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 5pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #4D4D4D; /* Normal Disabled / Offline */
	
	border-right			: 0px solid;
	border-left				: 15px solid;
	border-top				: 2px solid;
	border-bottom			: 10px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 5px;
	width					: 30px;

	}

.table_bottom_container{
	
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #000000; /* Black */
	
	padding					: 0px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;

	}

	
.table_bottom_sweep{
	
	text-align				: right;
	vertical-align			: top;
	
	background-color		: #000000; /* Black */
	
	padding					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 134px;

	}

.table_bottom_sweep_tail{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 	
	color					: #000000; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Normal Dark Color 1 */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	width					: 82px;

	}	

.table_bottom_sweep_tail_filler{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Normal Dark Color 1 */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	}		

.table_bottom_sweep_tail_filler_rounded_right{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Normal Dark Color 1 */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	
	-webkit-border-radius	: 0px 13px 13px 0px;
	-moz-border-radius		: 0px 13px 13px 0px;
	border-radius			: 0px 13px 13px 0px;	
	
	}
	
.table_bottom_buttons_dark1{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #133D87; /* Normal Dark Color 1 */
	
	border-right			: 2px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	width					: 82px;
	}

.table_bottom_buttons_light1{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 5pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #335DA7; /* Normal Light Color 1 */
	
	border-right			: 2px solid;
	border-left				: 2px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	width					: 82px;

	}	
	
.table_bottom_buttons_light2{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 5pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #4A72CA; /* Normal Light Color 2 */
	
	border-right			: 2px solid;
	border-left				: 2px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	width					: 82px;

	}
	
.table_bottom_buttons_endcap{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 5pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #4D4D4D; /* Normal Disabled / Offline */
	
	border-right			: 0px solid;
	border-left				: 15px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 21px;
	width					: 32px;


	}

	
	
/* HELP HUTTON vvvv HELP BUTTON vvvv HELP BUTTON vvvv */
 * /* Adds to 168 */

	
.table_button_side_red_light2{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 	
	color					: #4D4D4D; 
	text-align				: right;
	vertical-align			: bottom;
	
	background-color		: #FE0000; /* Red Alert Light Color 2 */
	
	padding-right			: 10px;
	padding-bottom			: 10px;
	 
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 22px solid;
	border-left				: 15px solid;
	border-top				: 2px solid;
	border-bottom			: 2px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	width					: 131px;

	}	
	
	
.table_bottom_shoulder{
	
	background-color		: #2350B5; /* Normal Shoulder Color */
	
	height					: 100%;
	width					: 140px;
	
	border-right			: 22px solid;
	border-left				: 15px solid;
	border-top				: 2px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;	
	
	position				: relative;
	bottom					: 0px;
	}
	
.table_maincontent{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 	
	color					: #97C3E0; 
	text-align				: left;
	vertical-align			: top;
	
	background-color		: #000000; /* Black */

	padding-right			: 5px;
	padding-bottom			: 5px;
	padding-left			: 5px;
	padding-top				: 5px;
	 
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}	

.table_header_container{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 	
	color					: #97C3E0; 
	text-align				: left;
	vertical-align			: top;
	
	background-color		: #000000; /* Black */
	
	margin					: 0px;
	padding-right			: 5px;
	padding-bottom			: 5px;
	padding-left			: 5px;
	padding-top				: 5px;
	 
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;
	height					: 100%;

	}
	
.welcometext{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 
	color					: #97C3E0; /* Normal Active Color */
	text-align				: right;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */

	 
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 15px;

	}
	
.systemtext{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 7pt; 
	
	color					: #CA8909; /* Yellow Alert Light Color 1 */
	text-align				: right;
	vertical-align			: top;
	word-wrap				: break-word;
	overflow				: hidden;
	
	background-color		: #000000; /* Black */
	 
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 95%;
	height					: 50px;

	}

.hyperlink{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 6pt; 	
	color					: #CD870D; /* Yellow Alert Light Color 1 */
	
	}	

div.fullscreen{
    display					:block;
	z-index					: 999;

    /*set the div in the top-left corner of the screen*/
    position				:fixed;
    top						:200px;
    left					:180px;
    
    /*set the width and height to 100% of the screen*/
	right:0;
	
	background-color		:#000000;

  }
 
div.exportscreen{
   
	z-index					: 999;
	
    /*set the div in the top-left corner of the screen*/
    position				:fixed;
    bottom					:150px;
    left					:0px;
	
	background-color		:#000000;
    
    /*set the width and height to 100% of the screen*/
	

  } 

.Navigationv5table{

margin:5px;
 
list-style:none; 
white-space:nowrap; 
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 9pt; 
	color					: #CA8909; /* Yellow Alert Light Color 1 */
	text-align				: left;


border:0px solid ;
border-style:solid;
border-color:#000000;
border-collapse:collapse;

float:left;

}  


.table_top_right_sweep{
	
	text-align				: left;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */
	
	margin					: 15px;
	 
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	/*width					: 140px;*/

	}
	
.table_top_right_sweep_tail{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #FFA90E; /* Blue Alert Active Color */
	text-align				: right;
	
	background-color		: #000000; 
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 10px solid;
	border-left				: 10px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 29px;
	width					: 80%;
	}
	
.table_top_right_sweep_bullet{
	
	text-align				: left;
	
	background-color		: #0033FF; /* Blue Alert Shoulder Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 29px;
	width					: 30px;

	-webkit-border-radius	: 13px 0px 0px 13px;
	-moz-border-radius		: 13px 0px 0px 13px;
	border-radius			: 13px 0px 0px 13px;
	
	}
	
.table_top_right_container{
	
	text-align				: right;
	vertical-align			: top;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	}
	
	
.table_bottom_right_container{
	
	text-align				: left;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 16px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	}

.table_bottom_right_container2{
	
	
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	text-align				: right;
	vertical-align			: top;	
	
	width					: 600px;
	height					: 50px;
	
	}
	
.table_bottom_right_container_button{
	
	text-align				: right;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */
	
	float					: right;
	margin					: 4px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					:	10px;
	
	}
	
.table_bottom_right_container_button2{
	
	text-align				: left;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */
	
	float					: left;
	margin					: 5px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	}	
	
.table_overlay_container_button{
	
	text-align				: left;
	vertical-align			: bottom;
	
	background-color		: #000000; /* Black */
	
	float					: left;
	margin					: 5px;
	
	}
	
.table_bottom_right_sweep{
	
	text-align				: right;
	vertical-align			: top;
	
	background-color		: #000000; /* Black */
	
	margin					: 15px;
	 
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	/*width					: 140px;*/

	}

.table_bottom_right_sweep_bullet{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #0033FF; /* Blue Alert Shoulder Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 2px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 23px;
	width					: 30px;

	-webkit-border-radius: 13px 0px 0px 13px;
	-moz-border-radius: 13px 0px 0px 13px;
	border-radius: 13px 0px 0px 13px;
	
	}	
	
.table_bottom_right_sweep_tail{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: right;
	
	background-color		: #0033FF; /* Blue Alert Shoulder Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 2px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 23px;
	width					: 80%;
	}