.table_overlay_left_bullet{
	
	text-align				: left;
	
	background-color		: #CD870D; /* Blue Alert Shoulder Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 26px;
	width					: 30px;

	-webkit-border-radius: 13px 0px 0px 13px;
	-moz-border-radius: 13px 0px 0px 13px;
	border-radius: 13px 0px 0px 13px;
	
	}

.table_overlay_right_bullet{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #CD870D; /* Blue Alert Shoulder Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 23px;
	width					: 30px;

	-webkit-border-radius: 0px 13px 13px 0px;
	-moz-border-radius: 0px 13px 13px 0px;
	border-radius: 0px 13px 13px 0px;
	
	}
	
.table_overlay_bullet_gap{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 23px;
	width					: 10px;
	
	}	
	
.table_overlay_border{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 23px;
	
	}	
	
.table_overlay_border_slim{
	
	text-align				: left;
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 5px;
	
	}	
	
.table_overlay_border_tail{
	
	text-align				: left;
	
	background-color		: #335DA7; /* Blue Alert Shoulder Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 10px;
	
	}	

.table_overlay_nameplate{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	padding-left			: 5px;
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 23px;
	
	}	
	
.table_overlay_closeplate{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 
	color					: #FED966; /* Blue Alert Active Color */
	text-align				: right;
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	
	padding-right			: 5px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	height					: 23px;
	
	}		
	
.table_overlay_centercontent{
	
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	float					: left;
	width					: 200px;
	}
	
.table_overlay_container_button{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	verticle_align			: top;
	
	background-color		: #000000; /* Blue Alert Shoulder Color*/
	
	padding					: 5px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #FFFFFF;
	border-collapse			: collapse;
	
	
	}	