#flyout {float:left; padding:0; margin:2px 0 0 0; list-style:none; width:140px; border-top:1px solid #fff;}
#flyout ul {padding:0; margin:0; list-style:none; position:absolute; left:-9999px;}
#flyout table {border-collapse:collapse; margin:-1px -10px;}

#flyout li {float:left;width:140px; height:24px; border-bottom:1px solid #fff;}

#flyout li#contact {margin:0;}

#flyout li a {display:block; width:109px; height:24px; color:#fff; font-family:arial, sans-serif; font-size:11px; line-height:23px; text-decoration:none; padding-left:30px; border-left:1px solid #fff;}
#flyout li#home a {background:#888 url(_cssimages/home.gif) no-repeat 5px center;}
#flyout li#single a {background:#888 url(_cssimages/document.gif) no-repeat 5px center;}
#flyout li a.fly {background:#888 url(_cssimages/folder.gif) no-repeat 5px center;}
#flyout li a.fly b {display:block; width:109px; height:24px; background:url{_cssimages/arrow.gif) no-repeat right center; cursor:pointer;}

#flyout li#support a {background:#888 url(_cssimages/support.gif) no-repeat 5px center;}
#flyout li#contact a {background:#888 url(_cssimages/contact.gif) no-repeat 5px center;}

#flyout li:hover {position:relative;}
#flyout li a:hover {white-space:nowrap; color:#a7defc; position:relative;}
#flyout li:hover > a {color:#a7defc;}

#flyout li a.fly:hover {background:#888 url(_cssimages/open.gif) no-repeat 5px center;}
#flyout li:hover > a.fly {background:#888 url(_cssimages/open.gif) no-repeat 5px center;}

#flyout :hover ul {left:120px; top:-1px; width:150px; height:auto; border-top:1px solid #fff;}
#flyout :hover ul li {width:150px;}
#flyout :hover ul ul {left:-9999px;}

#flyout :hover ul :hover ul {left:130px; top:-1px;}
#flyout :hover ul li a {background:#888 url(_cssimages/document.gif) no-repeat 5px center; width:119px;}
#flyout :hover ul li a b {width:119px; background:none;}
#flyout :hover ul li a.fly {background:#888 url(_cssimages/folder.gif) no-repeat 5px center;}
#flyout :hover ul li a.fly b {background:url{_cssimages/arrow.gif) no-repeat right center;}
#flyout :hover ul li a:hover.fly {background:#888 url(_cssimages/open.gif) no-repeat 5px center;}
#flyout :hover ul :hover > a.fly {background:#888 url(_cssimages/open.gif) no-repeat 5px center;}

#flyout :hover ul :hover ul ul {left:-9999px;}
#flyout :hover ul :hover ul li a {background:#888 url(_cssimages/document.gif) no-repeat 5px center; width:119px;}
#flyout :hover ul :hover ul li a b {width:119px; background:none;}
#flyout :hover ul :hover ul li a.fly {background:#888 url(_cssimages/folder.gif) no-repeat 5px center;}
#flyout :hover ul :hover ul li a.fly b {background:url{_cssimages/arrow.gif) no-repeat right center;}
#flyout :hover ul :hover ul li a:hover.fly {background:#888 url(_cssimages/open.gif) no-repeat 5px center;}
#flyout :hover ul :hover ul li:hover > a.fly {background:#888 url(_cssimages/open.gif) no-repeat 5px center;}

#flyout :hover ul :hover ul :hover ul {left:130px; top:-1px;}
#flyout :hover ul :hover ul :hover ul li a {background:#888 url(_cssimages/document.gif) no-repeat 5px center; width:119px;}
#flyout :hover ul :hover ul :hover ul li a b {width:119px; background:none;}
