td { background-color : White; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 11px; padding-bottom : 2px; padding-left : 0px; padding-right : 0px; padding-top : 2px; }
.tdTitle { background-color : #99CC33; padding-bottom : 3px; padding-left : 0px; padding-right : 0px; padding-top : 3px; text-align : center; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; font-weight : bold; color : White; border : 1px solid #336600; border-left-width : 0px; border-right-width : 0px; border-top-width : 1px; border-bottom-width : 1px; }
.tdSubmit { background-color : White; padding-bottom : 3px; padding-left : 0px; padding-right : 0px; padding-top : 3px; text-align : center; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 12px; font-weight : bold; color : #336600; border : 1px solid #99CC33; border-left-width : 0px; border-right-width : 0px; border-top-width : 1px; border-bottom-width : 1px; }
.tdSpacer{ background-color : White; font-size : 7px; }
.tdPreviewColHeader { background-color : #CCCCCC; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 11px; padding-bottom : 4px; padding-left : 2px; padding-right : 2px; padding-top : 4px; font-weight : bold; text-align : center; border : 1px solid White; border-bottom-width : 0px; border-left-width : 0px; border-right-width : 2px; border-top-width : 0px; color : #666666; }
.tdPreviewContent { background-color : White; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 10px; padding-bottom : 2px; padding-left : 0px; padding-right : 22px; padding-top : 2px; border : 1px solid #CCCCCC; border-bottom-width : 1px; border-left-width : 0px; border-right-width : 0px; border-top-width : 0px; }

.tdPreviewAssignHeader {
	background-color : #E0E0E0;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	font-weight : bold;
	border : 1px solid White;
	border-bottom-width : 0px;
	border-left-width : 0px;
	border-right-width : 2px;
	border-top-width : 0px;
	color : #666666;
}
.tdPreviewAssignContent { background-color : White; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 10px; padding-bottom : 2px; padding-left : 0px; padding-right : 22px; padding-top : 2px; border : 1px solid #A0A0A0; border-bottom-width : 1px; border-left-width : 0px; border-right-width : 0px; border-top-width : 0px; }

.inputText { background-color : White; border : 1px solid #336600; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 11px; color : #336600; font-weight : bold; }
.inputSubmit { background-color : White; border : 1px solid #336600; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 11px; color : #336600; font-weight : bold; }

select { background-color : White; border : 1px solid #336600; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size : 11px; color : #336600; font-weight : bold; border-top-width : 1px; border-style : solid; border-left-width : 1px; border-right-width : 1px; border-bottom-width : 1px; }