#info_right {display:block; float:right; width:0px; padding:0px; color:#fff;}
#info_right p {margin:0 0 0px 0;}
#info_right form fieldset {padding:0; border:0; margin:0 0 0 5px;}
#info_right ol {margin-top:40px;}
#info_right ol li {margin-bottom:5px;}
#info_right li a, #info_right li a:visited {color:#fff; font-size:11px; text-decoration:none;}
#info_right li a:hover {text-decoration:underline;}

/*
NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....
NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....NAVIGATION MENU STYLE CODE....
*/
/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/flyout2.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
.menu {
z-index:1000;
font-size:100%;
margin:0px 0 2px 0px; /* this page only */
}

/* remove all the bullets, borders and padding from the default list styling */
.menu ul {
padding:0;
margin:0;
list-style-type:none;
width:100px;
}
/* hack for IE5.5 */
* html .menu ul {margin-left:-16px; ma\rgin-left:0;}
/* position relative so that you can position the sub levels */
.menu li {
position:relative;
font-family: Arial Narrow; 
font-size: 10pt; 
color: #FFFFFF; 
background:#AC9D8A;
height:30px;
}

/* get rid of the table */
.menu table {position:absolute; border-collapse:collapse; top:0; left:0; z-index:100; font-size:1em;}

/* style the links */
.menu a, .menu a:visited {
display:block; 
text-decoration:none;
height:30px;
line-height:25px;
width:100px;
color:#000;
text-indent:5px;
border:1px solid #fff;
border-width:0 1px 1px 0;
background:#AC9D8A;
}
/* hack for IE5.5 */
* html .menu a, * html .menu a:visited {background:#d4d8bd; width:100px; w\idth:100px;}
/* style the link hover */
* html .menu a:hover {color:#fff; background:#949e7c;}

.menu :hover > a {
color:#fff; 
background:#867C71;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {
visibility:hidden;
position:absolute;
top:0;
left:100px; 
}
/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,
.menu ul a:hover ul {
visibility:visible;
}

/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul ul{
visibility:hidden;
}
/* keep the fourth level hidden when you hover on second level list OR link */
.menu ul :hover ul :hover ul ul{
visibility:hidden;
}
/* make the third level visible when you hover over second level list OR link */
.menu ul :hover ul :hover ul{ 
visibility:visible;
}
/* make the fourth level visible when you hover over third level list OR link */
.menu ul :hover ul :hover ul :hover ul { 
visibility:visible;
}
<!--[if IE 7]>
<style type="text/css">
.menu li {float:left;}
</style>
<![endif]-->