.table_button_bullet_right_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #8D9BFE; /* Blue Alert Dark 1r Color*/
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	width					: 23px;

	-webkit-border-radius	: 13px 0px 0px 13px;
	-moz-border-radius		: 13px 0px 0px 13px;
	border-radius			: 13px 0px 0px 13px;
	
	}
	
.table_button_bullet_left_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #8D9BFE; /* Blue Alert Dark 1r Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	width					: 23px;

	-webkit-border-radius	: 0px 13px 13px 0px;
	-moz-border-radius		: 0px 13px 13px 0px;
	border-radius			: 0px 13px 13px 0px;
	
	}	

.table_button_bullet_lead_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	vertical-align			: bottom;
	
	background-color		: #8D9BFE; /* Blue Alert Dark 1r Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	width					: 50px;
	
	}
.table_button_bullet_tail_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #8D9BFE; /* Blue Alert Dark 1r Color*/
	

	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	width					: 5px;
	
	}
.table_button_bullet_gap_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 14pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #000000; /* Blue Alert Dark 1r Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	
	}

.table_button_bullet_fill_gap_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #8D9BFE; /* Blue Alert Dark 1r Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	
	}
	
.table_button_bullet_input_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 15pt; 
	color					: #FED966; /* Blue Alert Active Color */
	text-align				: left;
	
	background-color		: #000000; /* Blue Alert Dark 1r Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	
	}	
.table_button_bullet_fill_input_active_blue{
	
	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 
	color					: #8D9BFE; /* Blue Alert Active Color */
	text-align				: right;
	
	background-color		: #8D9BFE; /* Blue Alert Dark 1r Color*/
	
	list-style				: none; 
	white-space				: nowrap; 

	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	height					: 50px;
	
	}