.table_dashpanel_container{

  width: 32.5%;
  margin: 2px;
  float: left;
  
}

.table_dashpanel_container_daily{
	
  width: 32.5%;
  margin: 2px;
  float: left;

	}	
	
.table_dashpanel_container_welcome{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 	
	color					: #FFA90E; 
	text-align				: right;
	vertical-align			: center;
	
	background-color		: #000000; /* Black */
	
	padding					: 0px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	height					: 21px;
	}	
	
.table_dashpanel_container_header{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 	
	color					: #97C3E0; 
	text-align				: top;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Black */
	
	padding					: 0px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;
	height					: 20px;
	
	-webkit-border-radius	: 20px 20px 0px 0px;
	-moz-border-radius		: 20px 20px 0px 0px;
	border-radius			: 20px 20px 0px 0px;

	}
	
.table_dashpanel_container_summary{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 	
	color					: #97C3E0; 
	text-align				: top;
	vertical-align			: center;
	
	padding					: 0px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;
	height					: 100%;

	}

.table_dashpanel_container_summary_daily{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #133D87; /* Black */
	
	padding					: 0px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;

	}	
	
.table_dashpanel_container_footer{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 10pt; 	
	color					: #97C3E0; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Black */
	
	padding					: 3px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;
	height					: 5px;
	
	
	-webkit-border-radius	: 0px 0px 20px 20px;
	-moz-border-radius		: 0px 0px 20px 20px;
	border-radius			: 0px 0px 20px 20px;	

	}	
	
.table_dashpanel_container_commands{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: right;
	vertical-align			: center;
	
	padding					: 2px;
	margin					: 0px;
	
	border-right			: 1px solid;
	border-left				: 1px solid;
	border-top				: 1px solid;
	border-bottom			: 1px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 45%;

	}

.table_dashpanel_container_clickformore{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	padding					: 3px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}

.table_dashpanel_container_summary_red{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #FE0000; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;

	}

.table_dashpanel_container_summary_red_header{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 40%;

	}	
	
.table_dashpanel_container_summary_red_result{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}	
	
.table_dashpanel_container_summary_red_commandrow{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: bottom;
	
	padding-left			: 5px;
	margin					: 0px;
	
	background-color		: #FE0000; /* Black */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	height					: 25px;
	}	
	
.table_dashpanel_container_summary_yellow{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #CD870D; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;

	}	
	
.table_dashpanel_container_summary_yellow_header{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 40%;

	}	
	
.table_dashpanel_container_summary_yellow_result{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}

.table_dashpanel_container_summary_yellow_commandrow{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: bottom;
	
	padding-left			: 5px;
	margin					: 0px;
	
	background-color		: #CD870D; /* Black */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	height					: 25px;
	}		
	
.table_dashpanel_container_summary_green{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #008000; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;

	}	

.table_dashpanel_container_summary_green_header{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #008000; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 40%;

	}

.table_dashpanel_container_summary_green_result{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #008000; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}
	
.table_dashpanel_container_summary_green_commandrow{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: bottom;
	
	padding-left			: 5px;
	margin					: 0px;
	
	background-color		: #008000; /* Black */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	height					: 25px;
	}		

.table_dashpanel_container_summary_golden{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #FED966; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 100%;

	}	

.table_dashpanel_container_summary_golden_header{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #FED966; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 40%;

	}

.table_dashpanel_container_summary_golden_result{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #FED966; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}
	
.table_dashpanel_container_summary_golden_commandrow{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #000000; 
	text-align				: left;
	vertical-align			: center;
	
	padding-left			: 5px;
	margin					: 0px;
	
	background-color		: #FED966; /* Black */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	height					: 25px;
	}		

.table_dashpanel_container_summary_header{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 12pt; 	
	color					: #FFFFFF; 
	text-align				: center;
	vertical-align			: center;
	
	padding					: 0px;
	margin					: 0px;
	
	background-color		: #000000; /* Black */
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	height					: 25px;
	}
	
a.table_dashpanel_container_summary_link{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFA90E; 
	text-align				: left;
	vertical-align			: center;

}	

.table_dashpanel_container_noresults{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFA90E; 
	text-align				: center;
	vertical-align			: center;
	
	background-color		: #2350B5; /* Black */

}

.table_dashpanel_container_summary_rowheader{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #133D87; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;
	
	width					: 40%;

	}
	
.table_dashpanel_container_summary_rowresult{

	font-family				: Impact, Charcoal, sans-serif;
	font-size				: 8pt; 	
	color					: #FFFFFF; 
	text-align				: left;
	vertical-align			: center;
	
	background-color		: #335DA7; /* Black */
	
	padding-left			: 5px;
	margin					: 0px;
	
	border-right			: 0px solid;
	border-left				: 0px solid;
	border-top				: 0px solid;
	border-bottom			: 0px solid;
	border-style			: solid;
	border-color			: #000000;
	border-collapse			: collapse;

	}	